<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="/favicon.ico" />
<style>
  html {
    width: 100%;
    height: 100%;
  }
  body {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
  }
  main {
    flex: 1;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  h1 {
    color: #333;
  }
  article {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }
  article h2 {
    margin-bottom: 10px;
  }
  article .meta {
    color: #777;
    font-size: 0.9em;
  }

  footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
  }
</style>
